<!DOCTYPE html>
<html>

<head>
    <title>
        h1-file-server
    </title>

    <style>
        body {
            background: rgb(0, 0, 0);
            font-family: Arial, sans-serif;
        }

        h1 {
            font-weight: bold;
            font-size: 40px;
            text-align: center;
            color: white;
        }

        a {
            text-decoration: none;
            color: lightblue;
        }
    </style>
</head>

<body>
    <h1>hosted with <a href="https://github.com/mjkzy/h1-file-server" target="_blank">h1-file-server</a></h1>
</body>

</html>